@font-face {
  font-family: "DM Serif Display";
  src: url("../fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf");
}
@font-face {
  font-family: "Public Sans";
  src: url("../fonts/Public_Sans/PublicSans-VariableFont_wght.ttf");
}
