// HERO START

.home__hero-section {
  padding-top: 162px;
  display: flex;
  justify-content: space-between;
}
.home__hero-left-title {
  font-family: "DM Serif Display";
  font-size: 72px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: -0.5538461804389954px;
  color: #36536b;
  max-width: 546px;
  margin-top: 78px;
  margin-bottom: 21px;
}

.btn__hero {
  margin-left: -171px;
}
.form__contacts-text {
  margin-top: 16px;
  padding-left: 27px;
  font-family: "Public Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 17.63px;
  color: #6c8294;
}
.home__hero-right {
  max-width: 263px;
}
.form__contacts-text a {
  font-family: "Public Sans";
  font-size: 15px;
  font-weight: 700;
  line-height: 17.63px;
  color: #6c8294;
}

@media only screen and (max-width: 815px) {
  .home__hero-section {
    flex-direction: column-reverse;
    gap: 24px;
    text-align: center;
    width: 100%;
    padding-bottom: 80px;
  }
  .hom .home__hero-left {
    width: 100%;
    text-align: center;
  }
  .home__hero-left-title {
    max-width: 100%;
  }
  .home__hero-right {
    max-width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 500px) {
  form {
    flex-direction: column;
    gap: 16px;
    text-align: center;
    max-width: 100%;
  }
  .inp {
    max-width: 87%;
  }
  form .btn {
    width: 100%;
    margin-left: 0;
  }
  .home__hero-section {
    padding-top: 90px;
  }
  .home__hero-right img {
    width: 128px;
    height: 240px;
  }
  .home__hero-left-title {
    font-size: 32px;
    font-weight: 400;
    margin-top: 0px;
    line-height: 36px;
    letter-spacing: -0.2461538463830948px;
  }
}

// HERO FINISH

// WE__WORK START

.we__work-section {
  background-color: #1b262f;
  padding: 100px 0;
  width: 100%;
}
.we__work-wrapper {
  display: flex;
  align-items: center;
  gap: 131px;
  background-color: #1b262f;
}
.we__work-left {
  max-width: 445px;
}
.we__work-title {
  font-family: "DM Serif Display";
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.3692307770252228px;
  color: #fbfcfe;
  margin-bottom: 24px;
}
.we__work-title-text {
  font-family: "Public Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  color: #fbfcfe70;
  margin-bottom: 32px;
}
.we__work-right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 536px;
  gap: 40px;
  justify-content: space-between;
}

@media only screen and (max-width: 927px) {
  .we__work-section {
    padding: 40px 0;
  }
  .we__work-wrapper {
    flex-direction: column-reverse;
    margin: 40px 24px;
  }
  .we__work-right {
    flex-wrap: wrap;
  }
  .we__work-left {
    text-align: center;
  }
  .we__work-title {
    margin-top: -25px;
    font-size: 32px;
    line-height: 36px;
  }
}

// WE WOR FINISH

// EASY START

.easy__wrapper {
  padding: 150px 0 0 0;
  display: flex;
  align-items: center;
  gap: 125px;
}
.easy__left {
  max-width: 445px;
}
.easy__right {
  max-width: 445px;
}
.easy__right-title {
  font-family: "DM Serif Display";
  font-size: 48px;
  margin-bottom: 24px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.3692307770252228px;
  color: #36536b;
}
.easy__right-text {
  font-family: "Public Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  color: #6c8294;
  margin-top: 60px;
}
.easy__left-cards {
  background-color: #1b262f;
  border-radius: 10px;
}
.easy__left-card-main {
  color: #fbfcfe;
  font-family: "Public Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
.easy__left-card-header {
  background-color: #2e3f4d;
  padding: 12px 0 12px 16px;
  border-radius: 10px 10px 0 0;
}
pre {
  margin: 32px 97px 32px -94px;
}
@media only screen and (max-width: 850px) {
  .easy__left-cards {
    font-size: 10px;
    text-align: left;
  }

  pre {
    margin: 32px 20px 32px -100px;
  }
  .easy__section {
    margin: 40px 24px;
  }
  .easy__wrapper {
    flex-direction: column;
    gap: 48px;
    text-align: center;
  }
  .easy__left {
    max-width: 100%;
  }
}
@media only screen and (max-width: 440px) {
  pre {
    margin: 32px 97px -10px -116px;
  }
  .easy__right-title {
    font-size: 36px;
    line-height: 32px;
  }
  .easy__wrapper {
    gap: 30px;
  }
  .easy__left {
    max-width: 328px;
  }
}
// EASY SECTION FINISH

// SIMPLE SECTION START

.simple__section {
  background-image: url("../../img/simple-bg-im.png");
  background-repeat: no-repeat;
  background-size: 350px 780px;
  padding-bottom: 160px;
  padding-top: 150px;
  background-position: right center;
}
.simple__section-wrapper {
  display: flex;
  align-items: center;
  gap: 95px;
}
.simple__section-right {
  display: flex;
  gap: 0px;
}
.simple__section-left {
  max-width: 445px;
}
.simple__img {
  max-width: 300px;
  max-height: 499px;
}
.simple__section-left-title {
  font-family: "DM Serif Display";
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.3692307770252228px;
  color: #36536b;
}
.simple__section-left-text {
  margin-top: 24px;
  font-family: "Public Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  color: #6c8294;
}

@media only screen and (max-width: 860px) {
  .simple__section {
    padding-top: 80px;
    padding-bottom: 80px;
    margin: 40px 24px;
  }
  .simple__section-wrapper {
    flex-direction: column-reverse;
    text-align: center;
    gap: 48px;
  }
  .simple__section {
    background-image: none;
  }
  .simple__section-left {
    max-width: 100%;
    text-align: center;
  }
  .simple__section-right {
    max-width: 100%;
    text-align: center;
  }
  .simple__img {
    max-width: 180px;
    max-height: 300px;
  }
  .simple__section-left-title {
    font-size: 48px;
    line-height: 56px;
  }
}

@media only screen and (max-width: 410px) {
  .simple__img {
    max-width: 1400px;
    max-height: 270px;
  }
  .simple__section-left-title {
    font-size: 36px;
    line-height: 36px;
  }
}
@media only screen and (max-width: 326px) {
  .simple__section-right {
    margin: 0 auto;
    display: inline-block;
  }
}

// SIMLE SECTION FINISH

// STATISTIC SECTION START

.statistic__section-wrapper {
  padding-bottom: 96px;
}
.statistic__cards {
  display: flex;
  align-items: center;
  gap: 30px;
  max-width: 100%;
}
.statistic__cards-box {
  max-width: 350px;
  text-align: center;
}
.statistic__box-title {
  margin-top: 32px;
  font-family: "Public Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: -0.13846154510974884px;
  color: #36536b;
}
.statistic__box-text {
  margin-top: 16px;
  font-family: "Public Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.11538461595773697px;
  color: #6c8294;
}
@media only screen and (max-width: 790px) {
  .statistic__section-wrapper {
    margin: 0 24px;
  }
  .statistic__cards {
    flex-direction: column;
    gap: 48px;
  }
}

// STATISTIC SECTION FINISH

//READY SECTION START

.ready__section-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}
.ready__section-title {
  font-family: "DM Serif Display";
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.3692307770252228px;
  color: #36536b;
  margin-top: 17px;
}

@media only screen and (max-width: 840px) {
  .ready__section-wrapper {
    flex-direction: column;
    gap: 40px;
  }
}

@media only screen and (max-width: 360px) {
  .ready__section-wrapper {
    gap: 30px;
  }
  .ready__section-title {
    font-size: 32px;
    line-height: 36px;
  }
}

//READY SECTION FINISH

// FOOTER SECTION START

.footer {
  background-color: #1b262f;
}

.link {
  color: white;
  transition: all 0.2s;

  &:hover {
    color: #da6d97;
  }
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 31px 0;
}
.footer__navbar {
  display: flex;
  align-items: center;
  gap: 64px;
}
.footer__nav__list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.footer__nav__item a {
  font-family: "Public Sans";
  font-size: 15px;
  font-weight: 700;
  line-height: 17.63px;
  text-align: left;

  color: #fbfcfe70;
  &:hover {
    color: #fbfcfe;
  }
}
.icons {
  display: flex;
  align-items: center;
  gap: 24px;
}
@media only screen and (max-width: 700px) {
  .footer__wrapper {
    flex-direction: column;
    gap: 39px;
  }
  .footer__navbar {
    flex-direction: column;
    gap: 20px;
  }
  .footer__nav__list {
    flex-direction: column;
  }
}
